.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-family: Inter, sans-serif;
  width: 556px;
}

h2 {
  font-family: Work Sans, sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 223px;
  width: 592px;
  margin: auto;
  background: radial-gradient(
    94.51% 639.62% at 3.18% 7.89%,
    rgba(255, 255, 255, 0.49) 0%,
    rgba(255, 255, 255, 0.07) 100%
  );
  background-blend-mode: overlay;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  backdrop-filter: blur(36px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 40px;
}

.forecastOption {
  justify-items: left;
}

.search {
  width: 432px;
}
